எல்லாம்/Everything.db
எல்லாம்/Everything.ini
மேற்படியே-64/Ditto.Settings
அகராதிகாம்/DICOM.dic
அகராதிகாம்/DICOM.dic
வானொலிஉறுதி/RadioSure.xml
திரைப்பலகதுடிப்பு/Settings.xml
பலதொலை/pnlLayout.xml
பலதொலை/extApps.xml
பலதொலை/confCons.xml
சுமத்ராஎஆவ/SumatraPDF-settings.txt
எல்லாம்/Everything-1.5a.backup.ini
எல்லாம்/Everything-1.5a.backup.db
*.db
எல்லாம்/Everything-1.5a.ini
சுமத்ராஎஆவ/SumatraPDF-settings.txt
